body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

label {
  font-size: 0.7em;
}

.bg-color {
  background: #f5f3f7;
}

a {
  text-decoration: none;
}

.flag {
  width: 65%;
  background: #903cff;
  background: linear-gradient(37deg, #903cff 0%, #ce41ff 100%);
  height: 88vh;
  border-bottom-left-radius: 235px;
  border-bottom-right-radius: 235px;
  position: absolute;
  top: 0;
  left: -15vw;
  bottom: 0;
  z-index: 0;
}
@media screen and (min-width: 576px) {
  .flag {
    left: -36vw;
  }
}

.chat {
  border-radius: 35px;
  border: 10px solid white;
  width: 100%;
  transform: scale(0.65);
  float: none;
}
@media screen and (min-width: 576px) {
  .chat {
    width: 80%;
    transform: scale(0.65);
  }
}

.chat-header {
  background: #8838ff;
  background: linear-gradient(90deg, #8838ff 0%, #e942ff 100%);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
}
.chat-header:after {
  content: "";
  height: 25px;
  width: 170px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.chat-header .arrow {
  background-color: #fff;
  height: 16px;
  width: 18px;
  -webkit-clip-path: polygon(30% 0, 0 50%, 30% 100%, 50% 100%, 20% 50%, 50% 0);
          clip-path: polygon(30% 0, 0 50%, 30% 100%, 50% 100%, 20% 50%, 50% 0);
  margin-top: 17.5px;
}
.chat-header h5 {
  color: white;
}
.chat-header p {
  color: #e9e2ee;
}

.left p {
  background: #e9e2ee;
  color: #9241c8;
  border-radius: 8.5px;
  width: 65%;
  font-size: 0.9em;
  line-height: 1.15;
}

.dog-images {
  width: 67.5%;
}
.dog-images img {
  border-radius: 8.5px;
}

.right p {
  color: #6e5d7e;
  background: white;
  font-size: 0.9em;
  width: 66%;
  line-height: 1.15;
  border-radius: 8.5px;
}

.send-msg {
  position: relative;
  width: 100%;
}
.send-msg input {
  font-size: 0.5em;
  height: 50px;
  width: 100%;
  border: 0;
  padding: 10px 15px;
}
.send-msg input:focus-visible {
  outline: none;
}
.send-msg input::placeholder {
  color: #c6cacd;
  font-size: 1.5em;
}
.send-msg button {
  background-color: #3e2753;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send-msg button div {
  background: #fff;
  height: 55%;
  width: 75%;
  transform: rotate(180deg);
  margin: auto;
  -webkit-clip-path: polygon(50% 0, 30% 51%, 50% 100%, 70% 100%, 50% 50%, 70% 0);
          clip-path: polygon(50% 0, 30% 51%, 50% 100%, 70% 100%, 50% 50%, 70% 0);
  border-radius: 100%;
}

.description h3 {
  color: #3e2753;
}
.description p {
  color: #a39daa;
}